{% extends "template.html" %}

{% block body %}
<h6>{{error}}</h6>
<form role="form" action="/search_users" method="POST">
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <input type="text" class="form-control" id="query" name="query" placeholder="Search by Surname">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-default" type="button">Search</button>
        </span>
      </div>
    </div>
  </div>
</form>
{% if results %}
<h2>{{search_type}} Search Results</h2>
<div class="results well">
  
    {% for result in results %}
    <div class="result well-row">
      <div>
        <a href={{result.user_id}}><span class="name">{{result.name}}</span></a>
        <div>
          {{result.info | safe}}
        </div>
      </div>
    </div>
    {% endfor %}
</div>
{% endif %}

{% endblock %}